body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__upper h1{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.header__middle h1{
    color: hsl(234, 12%, 34%);
}

.header__lower p{
    margin: 16px 0px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.content {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.content__card {
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    justify-content: flex-start;
    background-color: #FFFF;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 540px;
}


.inside-card {
    padding: 0 10px;
    height: 214px;
    display: flex;
    flex-direction: column;
}

.inside-card img {
    width: 64px;
    height: 64px;
}

.inside-card .icon {
    margin-top: 20px;
    width: 100%;
    text-align: end;
}

.card-title {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.card-description {
    margin: 0 0 16px 0;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.bt {
    height: 3%;
    width:100%;
    border-radius: 10px 10px 0px 0px;
}

.bt.left{
    background-color: #45d3d3;
}

.bt.middle-one{
    background-color: #ea5353;
}

.bt.middle-two{
    background-color: #fcaf4a;
}

.bt.right{
    background-color: #549ef2;
}

.footer {
    font-size: 11px;
}
.footer a {
    color: #3e52a3;
}

@media (max-width: 1240px) {
    .content{
        flex-direction: column;
    } 
}